{% extends "base.html" %}

{% block title %}My amazing blog{% endblock %}
{% block sidebar %}{% endblock %}
{% if errors %}
    {% block errors %}
        <span>{{ errors }}</span>
    {% endblock %}
{% endif %}

{% block content %}
    <H2>Статистика серверов</H2>
    <style type="text/css">
        body {
            font-family: Tahoma;
            font-size: 14px;
        }

        .error_max {
            background: red;
        }

        .error_min {
            background: green;
        }

        .norm {
            background: #808080
        }

        #content {
            float: left
        }

        #sidebar {
            float: left;
            width: 10%;
        }

        #errorbar {
            background: red;
        }

        .right {
            width: 25%;
        }

        td, th {
            padding: 5px;
            font-family: Tahoma;
            font-size: 14px;

        }
    </style>

    <div class="right">
        <form action="savesettings" method="post">
            {% csrf_token %}
            <p><label for="limits.max">Максимальный порог:</label>
                <input id="limits.max" type="text" name="limits.max" maxlength="100" value="{{ limits.max }}"/></p>

            <p><label for="limits.min">Минимальный порог:</label>
                <input type="text" name="limits.min" id="limits.min" value="{{ limits.min }}"/></p>
            <input type="submit" value="Сохранить"/>
        </form>
    </div>
    <br>

    <table border="1px">
        <tr>
            <th>time</th>
            {% for name in server_names %}
                <th><a href="/monitoring/{{ name }}">{{ name }}</a></th>
            {% endfor %}
        </tr>
        {% for key, stat in stats.items %}
            <tr>
                <td>{{ key }}</td>
                {% for server_stat in stat %}
                    <td class="{% if server_stat.diff > limits.max %}error_max
                        {% else %}{% if server_stat.diff < limits.min %}error_min{% else %}norm{% endif %}{% endif %}">{{ server_stat.diff|intspace }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}